# @package _global_

# to execute this experiment run:
# python -m iid.material_diffusion

defaults:
  - /logger: wandb
  - /model: material
  - /environment@_here_: default

# ======================== DATAMODULE ============================

data:
  input_path: res/test.png
  include_metadata: True

output:
  folder: output
  as_dataset: False

# ======================== ENVIRONMENT ============================

task_name: material_diffusion

seed: 0

device: auto

